@font-face {
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf");
  font-family: Inter;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  font-family: Inter;
  overflow-x: hidden;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  width: 100%;
  top: 0;
  padding-bottom: 150px;
  background-color: #f5f7ff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: -1;
}

.dashboard .text {
  text-align: left;
  padding: 8px;
}

.dashboard hr {
  width: 95%;
  margin: 10px 8px;
  border: 0.3px solid #63687e;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 1;
}

.overview-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.facebook {
  width: 180px;
  text-align: center;
  margin: 30px auto;
  background-color: #f0f2fa;
  padding: 20px;
  border-radius: 5px;
  border-top: 4px solid deepskyblue;
  margin-top: 200px;
}

.facebook__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facebook__info img {
  margin: 7px;
}

.facebook__info span {
  margin: 8px;
  font-size: 14px;
  color: #63687e;
}

.facebook__followers-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1db489;
  font-weight: 700;
}

.facebook__followers-status img {
  margin: 7px;
}

.twitter {
  width: 180px;
  text-align: center;
  margin: 30px auto;
  background-color: #f0f2fa;
  padding: 20px;
  border-radius: 5px;
  border-top: 4px solid #1ca0f2;
  margin-top: 200px;
}

.twitter__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.twitter__info img {
  margin: 7px;
}

.twitter__info span {
  margin: 8px;
  font-size: 14px;
  color: #63687e;
}

.twitter__followers-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1db489;
  font-weight: 700;
}

.twitter__followers-status img {
  margin: 7px;
}

.instagram {
  width: 180px;
  text-align: center;
  margin: 30px auto;
  background-color: #f0f2fa;
  padding: 20px;
  border-radius: 5px;
  border-top: 4px solid #1ca0f2;
  margin-top: 200px;
}

.instagram__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instagram__info img {
  margin: 7px;
}

.instagram__info span {
  margin: 8px;
  font-size: 14px;
  color: #63687e;
}

.instagram__followers-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1db489;
  font-weight: 700;
}

.instagram__followers-status img {
  margin: 7px;
}

.youtube {
  width: 180px;
  text-align: center;
  margin: 30px auto;
  background-color: #f0f2fa;
  padding: 20px;
  border-radius: 5px;
  border-top: 4px solid #c4032a;
  margin-top: 200px;
}

.youtube__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.youtube__info img {
  margin: 7px;
}

.youtube__info span {
  margin: 8px;
  font-size: 14px;
  color: #63687e;
}

.youtube__followers-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #dc414c;
  font-weight: 700;
}

.youtube__followers-status img {
  margin: 7px;
}

.big-text {
  font-size: 60px;
  font-weight: 700;
  margin: 15px auto 0 auto;
}

.bold-text {
  font-weight: 700;
}

.faded-text {
  color: #63687e;
  font-weight: 700;
}

.followers {
  margin-top: -2px;
  font-size: 1rem;
  letter-spacing: 6px;
}

.followers .info p {
  float: left;
}

.followers .info span {
  float: right;
}

.overview-card {
  margin: 20px auto;
  padding: 15px;
  width: 50%;
  background-color: #f0f2fa;
  border-radius: 5px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.overview-card .head span {
  float: left;
}

.overview-card .head img {
  float: right;
}

.overview-card .info {
  margin-top: 60px;
}

.overview-card .info .info-num {
  float: left;
}

.overview-card .info div .follower-status {
  float: right;
  padding: 5px;
  color: #1db489;
  font-weight: 700;
}

.overview-card .info div .follower-status img {
  margin: 3px;
}

.overview-card.red {
  margin: 20px auto;
  padding: 15px;
  width: 50%;
  background-color: #f0f2fa;
  border-radius: 5px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.overview-card.red .head span {
  float: left;
}

.overview-card.red .head img {
  float: right;
}

.overview-card.red .info {
  margin-top: 60px;
}

.overview-card.red .info .info-num {
  float: left;
}

.overview-card.red .info div .follower-status {
  float: right;
  padding: 5px;
  color: #dc414c;
  font-weight: 700;
}

.overview-card.red .info div .follower-status img {
  margin: 3px;
}

.overview-card:nth-of-type(3) .info .info-num {
  margin-top: 6px;
  font-size: 2rem;
}

.overview-card:nth-of-type(3) .info div .follower-status {
  float: right;
  color: #1db489;
  font-weight: 700;
}

.overview-card:nth-of-type(3) .info div .follower-status img {
  margin: 2px;
}

.overview-header {
  padding: 18px;
}

.overview-header h1 {
  color: #63687e;
  font-weight: 700;
}

.info-num {
  font-size: 40px;
  font-weight: 700;
}

.username {
  font-weight: 700;
}

.btn {
  background-color: #ddd;
  width: 50px;
  height: 20px;
  padding: 8px;
  border-radius: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.slider {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

@media screen and (min-width: 930px) {
  hr {
    display: none;
  }
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .overview-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
  }
  .overview-card {
    width: 80%;
  }
  .overview-card.red {
    width: 80%;
  }
}

@media screen and (max-width: 930px) {
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .instagram {
    margin-top: 10px;
    width: 50%;
  }
  .youtube {
    margin-top: 10px;
    width: 50%;
  }
  .twitter {
    margin-top: 10px;
    width: 50%;
  }
  .facebook {
    width: 50%;
  }
  .overview-card {
    width: 80%;
  }
  .overview-card.red {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .facebook {
    width: 72%;
  }
  .twitter {
    width: 72%;
  }
  .instagram {
    width: 72%;
  }
  .youtube {
    width: 72%;
  }
  .overview-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .overview-card {
    width: 80%;
  }
  .overview-card.red {
    width: 80%;
  }
  .overview-header {
    padding: 20px 0 20px 20px 0;
    width: 100%;
  }
  .overview-header h1 {
    font-size: 1.4rem;
    color: #63687e;
    font-weight: 700;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */