@media screen and (min-width: 930px) {
    .card-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}


@media screen and (max-width: 930px) {

    .card-container {
       display: grid;
       grid-template-columns: 100%;
    }
    .instagram {
        margin-top: 10px;
        width: 50%;
    }

    .border-top {
        width: 62%;
    }
    .youtube {
        margin-top: 10px;
        width: 50%;

    }
    .twitter {
        margin-top: 10px;
        width: 50%;

    }
    .facebook {
        width: 50%;
    }

    .overview-card {
        width: 80%;
    }

    .overview-card.red {
        width: 80%;
    }
    
    .dashboard {
        .theme-toggle {
            .mode-container {
                .mode-text {
                    color: $dark-grayish-blue-text;
                    font-weight: $font-weight-2;
                }
                .btn {
                    margin-left: 20px;
                    position: relative;
                    top: -2px;
                    float: right;
                }
            }
        }
    }

}

@media screen and (max-width: 400px) {
    .facebook {
        width: 72%;
    }
    .twitter {
        width: 72%;
    }
    .instagram {
        width: 72%;
    }

    .border-top {
        width: 84%;
    }
    .youtube {
        width: 72%;
    }

    .overview-container {
        grid-template-columns: 100%;
        // margin-left: 20px;
    }

    .overview-card {
        width: 80%;
    }

    .overview-header {
        padding: 20px 20px;
    }
    .overview-card.red {
        width: 80%;
    }

    .card-container {
        display: grid;
        grid-template-columns: 100%;
        margin-top: -260px;
    }
    .dashboard {
        padding-bottom: 50px;
        .social {
            h1 {
                font-size: 1.3rem;
            }
        }

        .theme-toggle {
            .mode-container {
                .mode-text {
                    color: $dark-grayish-blue-text;
                    font-weight: $font-weight-2;
                }
                .btn {
                    margin-left: 20px;
                    position: relative;
                    top: 0px;
                    float: right;
                }
            }
        }
    }
    .btn {
        background-color: #ddd;
        width: 40px;
        height: 15px;
        padding: 8px;
        border-radius: 60px;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }
    
    .slider {
        height: 15px;
        width: 15px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
    }

    .overview-header {
        text-align: left;
        h1 {
            font-size: 1.4rem;
            color: $dark-grayish-blue-text;
            font-weight: $font-weight-2;
            padding: 0;
        }
    }
}

@media screen and (min-width: 1029px) {
    .card-container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .overview-container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .overview-card {
        width: 70%;
    }
    .overview-card.red {
        width: 70%;
    }
    hr {
        display: none;
    }

    .dashboard {
        grid-template-columns: 70% 30%;
        .social {
            h1 {
                font-size: 2rem;
            }
        }
        .theme-toggle {
            padding: 0 65px 150px 20px;
            .mode-container {
                text-align: right;
                .mode-text {
                    position: relative;
                    top: -2px;
                    color: $dark-grayish-blue-text;
                    font-weight: $font-weight-2;
                }
                .btn {
                    position: relative;
                    top: 3px;
                    margin-top: 48px;
                    margin-left: 20px;
                    float: none;
                }
            }
        }
    }

}