@media screen and (min-width: 930px) {
    hr {
        display: none;
    }
    .card-container {
        display: flex;
        flex-direction: row;
    }

    .overview-container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .overview-card {
        width: 80%;
    }

    .overview-card.red {
        width: 80%;
    }
    
}

@media screen and (max-width: 930px) {

    .card-container {
        display: flex;
        flex-direction: column;
    }
    .instagram {
        margin-top: 10px;
        width: 50%;
    }
    .youtube {
        margin-top: 10px;
        width: 50%;

    }
    .twitter {
        margin-top: 10px;
        width: 50%;

    }
    .facebook {
        width: 50%;
    }

    .overview-card {
        width: 80%;
    }

    .overview-card.red {
        width: 80%;
    }

}

@media screen and (max-width: 400px) {
    .facebook {
        width: 72%;
    }
    .twitter {
        width: 72%;
    }
    .instagram {
        width: 72%;
    }
    .youtube {
        width: 72%;
    }

    .overview-container {
        grid-template-columns: 100%;
        // margin-left: 20px;

    }

    .overview-card {
        width: 80%;
    }

    .overview-card.red {
        width: 80%;
    }

    .overview-header {
        padding: 20px 0 20px 20px 0;
        width: 100%;
        h1 {
            font-size: 1.4rem;
            color: $dark-grayish-blue-text;
            font-weight: $font-weight-2;
        }
    }
}