@import "config";
@mixin progress($color) {
    @if ($color == "green") {
        color: $lime-green;
        font-weight: $font-weight-2;
    }
    @if ($color == "red") {
        color: $bright-red;
        font-weight: $font-weight-2;
    }
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $white-bg;
    font-family: Inter;
    overflow-x: hidden;
}

.dashboard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    top: 0;
    padding-bottom: 150px;
    background-color: $very-pale-blue-bg-top;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;

    .text {
        text-align: left;
        padding: 8px;
    }
    
    hr {
        width: 95%;
        margin: 10px 8px;
        border:0.3px solid $dark-grayish-blue-text;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // position: absolute;
    z-index: 1;
}

.overview-container {
    display: grid;
    grid-template-columns: 50% 50%;
}


// card mixin
@mixin card($color, $status) {
    width: 180px;
    text-align: center;
    margin: 30px auto;
    background-color: $light-grayish-blue-card-bg;
    padding: 20px;
    border-radius: 5px;
    border-top: 4px solid $color;
    margin-top: 200px;
    &__info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        justify-content: center;
        img {
            margin: 7px;
        }
        span {
            // margin: auto;
            margin: 8px;
            font-size: 14px;
            color: $dark-grayish-blue-text;

        }
    }

    &__followers-status {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        justify-content: center;
        color: $status;
        font-weight: $font-weight-2;
        img {
            margin: 7px;
        }
    }
}


.facebook {
    @include card($facebook, $lime-green);
}

.twitter {
    @include card($twitter, $lime-green);
}

.instagram {
    @include card($twitter, $lime-green);
}

.youtube {
    @include card($youtube, $bright-red);
}

.big-text {
    font-size: 60px;
    font-weight: $font-weight-2;
    margin: 15px auto 0 auto;
}

.bold-text {
    font-weight: $font-weight-2;
}
.faded-text {
    color: $dark-grayish-blue-text;
    font-weight: $font-weight-2;
}

.followers {
    margin-top: -2px;
    font-size: 1rem;
    letter-spacing: 6px;    
    .info {
        p {
            float: left;
        }
        span {
            float: right;
        }

    }

}

.overview-card {
    margin: 20px auto;
    padding: 15px;
    width: 50%;
    background-color: $light-grayish-blue-card-bg;
    border-radius: 5px;
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .head {
        span {
            float: left;
        }
        img {
            float: right;
        }
    }

    .info {
        margin-top: 60px;
        .info-num {
            float: left;
        }
        div {
            .follower-status {
                float: right;
                padding: 5px;
                @include progress("green");
                img {
                    margin: 3px;
                }
            }
        }
    }

}

.overview-card.red {
    margin: 20px auto;
    padding: 15px;
    width: 50%;
    background-color: $light-grayish-blue-card-bg;
    border-radius: 5px;
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .head {
        span {
            float: left;
        }
        img {
            float: right;
        }
    }

    .info {
        margin-top: 60px;
        .info-num {
            float: left;
        }
        div {
            .follower-status {
                float: right;
                padding: 5px;
                @include progress("red");
                img {
                    margin: 3px;
                }
            }
        }
    } 
}

.overview-card:nth-of-type(3) {
    .info {
        .info-num {
            margin-top: 6px;
            font-size: 2rem;
        }

        div {
            .follower-status {
                float: right;
                // padding: 1px;
                @include progress("green");
                img {
                    margin: 2px;
                }
            }
        }
    }
}

.overview-header {
    padding: 18px;
    h1 {
        color: $dark-grayish-blue-text;
        font-weight: $font-weight-2;
    }
}
.info-num {
    font-size: 40px;
    font-weight: $font-weight-2;
}

.username {
    font-weight: $font-weight-2;
}

// toggle 
.btn {
    background-color: #ddd;
    width: 50px;
    height: 20px;
    padding: 8px;
    border-radius: 60px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.slider {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}
@import "media";
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
